!!! strict
html(lang="en")
  head
    // fixme - only use of sha and repo vars
    title commit #{sha} in #{repo}
    
    link(rel="stylesheet", type="text/css", href="/css/commit.css")
    link(rel="stylesheet", type="text/css", href="/css/diff.css")
    link(rel="stylesheet", type="text/css", href="/css/comment.css")
    
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="/3rdparty/jquery-ui-1.8.14.custom.min.js")
    script(type="text/javascript", src="/3rdparty/jquery.slideto.min.js")
    script(type="text/javascript", src="/3rdparty/jquery.timeago.js")
    script(type="text/javascript", src="/3rdparty/diffHighlighter.js")
    script(type="text/javascript", src="/3rdparty/showdown.js")
    script(type="text/javascript", src="/lpc.js")
    

  body( onload="getCommitJSON()" )
    a(href="/#{repo}/#{encodeURIComponent(branch)}")#recents-link back to recents in #{repo} #{branch}
    .loading loading...
    .wrap
      .info-block(style='display: none')
        #sha                   commit:       
        #author-name-and-email author:       
        #author-date           author date:  
        #subject-and-body
          
      .file-links(style='display: none')
      
      .diff-block
        #diff-content
        
    #templates(style='display: none')
      .comment
        .header
          .timestamp-wrapper
            span.timestamp.label added 
            span.added-timestamp.timestamp
            span.timestamp.label , last edited 
            span.edited-timestamp.timestamp
          button.delete-button delete
          button.edit-button edit
          div(style='clear: both;')
        .comment-html
        .comment-text(style='display: none')
        
      .edit-comment-form.inline-form
        form(action="", method="put")
          textarea(name="comment_text")
          .button-container
            button.cancel-button Cancel
            button.update-button Update
            div(style='clear: both;')
      
      .add-comment-form.inline-form
        form(action="", method="post")
          textarea(name="comment_text")
          .button-container
            button.cancel-button Discard
            button.submit-button Submit
            div(style='clear: both;')
              
        
