!!! strict
%html(lang="en")
    %head
        %title = "commit #{sha} in #{repo}"
        
        %link{rel: "stylesheet", type: "text/css", href: "/commit.css"}
        %link{rel: "stylesheet", type: "text/css", href: "/diff.css"}
        %link{rel: "stylesheet", type: "text/css", href: "/comment.css"}
        
        %script{type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
        %script{type: "text/javascript", src: "/diffHighlighter.js"}
        %script{type: "text/javascript", src: "/showdown.js"}
        
        :javascript
            function onCommentSubmitClicked() {
                var comment_row = $(this).closest('.add-comment-row');
                var comment_text = $('textarea[name="comment_text"]', comment_row).val();
                if (comment_text.length === 0) {
                    // flash red or something? maybe better to disable this button
                    // until there's text
                    return false;
                }
                
                var form_data = {
                    'file_idx': comment_row.attr('file_idx'),
                    'row_idx': comment_row.attr('row_idx'),
                    'comment_text': comment_text
                };
                
                $.post('/#{repo}/#{sha}', form_data, function() {
                    // turn this into a static comment row
                    var cell = $('.add-comment-cell', comment_row);
                    var showdown = new Showdown.converter();
                    $(cell).html( '<div class="comment-wrapper">' + showdown.makeHtml(comment_text) + '</div>');
                    $(cell).attr('class', 'comment');
                    $(comment_row).attr('class', 'comment-row');
                }).error(function() {
                    alert('problem submitting comment');
                });
                
                return false;
            }
            
            function addCommentFormRow() {
                var file = $(this).closest('.file').get(0);
                var file_idx = $(file).index();
                var row_idx = $('#' + file.id + ' .commentable').index(this);
                var comment_form = $('#templates .add-comment-form');
                var target_row = $(this).closest('tr');
                
                $(target_row).after('<tr class="add-comment-row" file_idx="'
                                    + file_idx
                                    + '" row_idx="'
                                    + row_idx 
                                    + '"><td class="stripe" colspan=2></td><td class="add-comment-cell">'
                                    + comment_form.html()
                                    + '</td></tr>');
                
                $(target_row).next().hide().fadeIn();
                var comment_row = $(target_row).next();

                $('form', comment_row).submit(function() {
                    // disable default submit behavior w/ page refresh
                    return false;
                });
                
                // hook up comment form buttons
                $('.cancel-button', comment_row).click(function() {
                    $(comment_row).fadeOut(function() {
                        $(comment_row).remove()
                    });
                    return false;
                    // don't reload page
                });

                $('.submit-button', comment_row).click( onCommentSubmitClicked );

                // clear any text selection after the double-click
                if (window.getSelection) {
                    window.getSelection().removeAllRanges();
                }
                else if (document.selection) {
                    document.selection.empty();
                }
            }
            
            function getCommitJSON() {
                $.getJSON("/#{repo}/#{sha}?format=json", function(data) {
                  $('.loading').hide();
                  
                  if (!data.git_show) {
                      // TODO show proper error
                      $('.loading').html( 'error loading commit - empty git show' );
                      return;
                  }
                  
                  console.log(JSON.stringify(data.comments));

                  // populate info-block
                  $('.info-block').fadeIn(650);
          
                  $('#sha').append( data.git_show.sha );
                  $('#author-name-and-email').append( data.git_show['author-name-and-email'] );
          
                  var showdown = new Showdown.converter();
                  $('#subject-and-body').append( showdown.makeHtml(data.git_show['subject-and-body']) );
          
                  $('#author-date').append( new Date( data.git_show['author-date'] * 1000 ).toLocaleString() );
          
                  // markup diff tables
                  var highlighter = new DiffHighlighter.highlighter();
                  highlighter.highlightDiff(data.git_show.diff, $('#diff-content').get(0));
          
                  // bind double-clicking a row - add a form comment
                  $('.diff .commentable').dblclick(addCommentFormRow);
          
                }).error(function(qXHR, textStatus, errorThrown) {
                    $('.loading').html( 'error loading commit: ' + errorThrown );
                });
          }

    %body{ onload: "getCommitJSON()" }
        .loading &= "loading..."
        .wrap
            .info-block{style: 'display: none'}
                    #sha                   &= 'commit:      '
                    #author-name-and-email &= 'author:      '
                    #author-date           &= 'author date: '
                    %span &= 'message:'
                    #subject-and-body
                    
            .diff-block
                #diff-content
        #templates{style: 'display: none'}
            .add-comment-form
                .form-container
                    %form{action: "", method: "post"}
                        %textarea{name: "comment_text"}
                        .button-container
                            %button.cancel-button &= 'Discard'
                            %button.submit-button &= 'Submit'
                            %div{style: 'clear: both;'}
                            
                